@media only screen and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    border: 0px solid black;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  html {
  }

  body {
  	
  }

  #bigDiv {
	  width: 100%;
  }
  
	#mobileOverlayDiv {
		display: block;
		position: fixed;
		height: 100vh;
		width: 100%;
		background-color: #1b1b1b;
		color: white;
		z-index: 4;
	} 
	
	#overlayDesc {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 900;
    font-size: 40px;
    padding: 0;
    margin-top: 10px;
	}
	
	#overlayTitle {
		margin-top: -25px;
    font-family: 'Freckle Face', cursive;
    font-size: 100px;
    color: #F55C22;
	}
	
	.overlayButtons {
		position: block;
    font-family: 'Freckle Face', cursive;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 20px 0;
    font-size: 70px;
    border: 5px solid #F55C22;
    box-sizing: border-box;
    top: 150px;
    
	}

	button:focus {
		outline: none;
		color: none;
	}
	
	#mobileOverlayButtonOne {
		position: relative;
		background-image: url(Images/white-wall.png);
		background-color: none;
		animation-name: overlayBtnOneAnimation;
		animation-duration: 2300ms;
		animation-iteration-count: infinite;
	}

	@keyframes overlayBtnOneAnimation {
		0% {color: #1b1b1b;}
		20% {color: #f55c22;}
		40% {color: #1b1b1b;}
		100% {color: #1b1b1b;}

	/*0% {background-color: none; background-image: url(Images/white-wall.png);}
		20% {background-color: #f55c22;  background-image: none;}
		40% {background-color: none; background-image: url(Images/white-wall.png);}
		100% {background-color: none; background-image: url(Images/white-wall.png);}*/
	}
	
	#mobileOverlayButtonTwo {
		position: relative;
    background-image: url(Images/dark-wood.jpg);
		color: white;
		animation-name: overlayBtnTwoAnimation;
		/*box-shadow: 0 0 0 0px #f55c22;*/
		animation-delay: 400ms;
		animation-duration: 2300ms;
		animation-iteration-count: infinite;
	}

	@keyframes overlayBtnTwoAnimation {
		0% {color: white;}
		20% {color: #f55c22;}
		40% {color: white;}
		100% {color: white;}

/*		0% {background-color: none; background-image: url(Images/dark-wood.jpg);}
		20% {background-color: #f55c22;  background-image: none;}
		40% {background-color: none; background-image: url(Images/dark-wood.jpg);}
		100% {background-color: none; background-image: url(Images/dark-wood.jpg);}*/
	}


	.overlayButtons:active {
		/*background-image: url(Images/dark-wood.jpg);*/
		box-shadow: inset -100vw 0 #F55C22;
		transition: box-shadow 100ms;
	}
	
	#hogarOverlaySvg {
		display: block;
		z-index: 4;
		background-image: url(Images/HogarEating.svg);
		background-repeat: no-repeat;
		background-position: center bottom;
		width: 100%;
		height: 50vh;
		bottom: 0px;
		position: fixed;
	}
	
	#overlayBtnContainer {
		display: flex;
		height: 100vh;
		width: 100%;
		z-index: 5;
		position: fixed;
		justify-content: center;
	}
	  
	#topMainMenu {
		width: 100%;
		display: flex;
		background-color: #F55C22;
		height: 50px;
	}  
	
	#menuBtn {
		display: inline-block;
		height: 50px;
		width: 50px;
		min-width: 60px;
	}
	
	.mobileButtons {
		display: block;
    font-family: 'Freckle Face', cursive;
    font-weight: 900;
    font-size: 20px; 
    height: 50px;
		width: 50%;
		float: right;
		transition: box-shadow 400ms;
		opacity: 0;
		outline: none;
	}


	/*burger to -- menu icon*/
	.c-hamburger {
	  display: block;
	  position: relative;
	  overflow: hidden;
	  margin-left: 0;
	  transform: none;
	  padding: 0;
	  min-width: 60px;
	  height: 50px;
	  font-size: 0;
	  text-indent: -9999px;
	  appearance: none;
	  box-shadow: none;
	  border-radius: none;
	  border: none;
	  cursor: pointer;
	}

	.c-hamburger:focus {
	  outline: 0;
	}

	.c-hamburger span {
	  display: block;
	  position: absolute;
	  top: 23px;
	  left: 14px;
	  right: 14px;
	  height: 4px;
	  background: #1b1b1b;
	}

	.c-hamburger span::before,
	.c-hamburger span::after {
	  position: absolute;
	  display: block;
	  left: 0;
	  width: 100%;
	  height: 4px;
	  background: #1b1b1b;
	  content: "";
	}

	.c-hamburger span::before {
	  top: -10px;
	}

	.c-hamburger span::after {
	  bottom: -10px;
	}

	/*burger to x animation*/

	.c-hamburger--htx {
	  background-color: #F55C22;
	  /*border-top: 5px solid #F55C22;
	  border-right: 5px solid #F55C22;
	  border-left: 5px solid #F55C22;
	  box-sizing: border-box;*/
	}

	.c-hamburger--htx span {
	  transition: background 0.2s;
	}

	.c-hamburger--htx span::before,
	.c-hamburger--htx span::after {
	  transition-duration: 0.15s, 0.15s;
	  transition-delay: 0.15s, 0s;
	}

	.c-hamburger--htx span::before {
	  transition-property: top, transform;
	}

	.c-hamburger--htx span::after {
	  transition-property: bottom, transform;
	}

	/* active state, i.e. menu open */
	.c-hamburger--htx.is-active {
	  background-color: #F55C22;
	}

	.c-hamburger--htx.is-active span {
	  background: none;
	}

	.c-hamburger--htx.is-active span::before {
	  top: 0;
	  transform: rotate(45deg);
	}

	.c-hamburger--htx.is-active span::after {
	  bottom: 0;
	  transform: rotate(-45deg);
	}

	.c-hamburger--htx.is-active span::before,
	.c-hamburger--htx.is-active span::after {
	  transition-delay: 0s, 0.15s;
	}

	/*Burger to X animation end of code*/
	
	#hogarOneBtnMobile {
		background: url(Images/white-wall.png);
		/*box-shadow: inset -100vw 0 #F55C22;*/
		box-shadow: inset 0 0 #F55C22;
	}
	
	#hogarTwoBtnMobile {
    background: url(Images/dark-wood.jpg);
		/*box-shadow: inset 100vw 0 #F55C22;*/
		box-shadow: inset 0 0 #F55C22;
    color: white;
	}
	
	#hogarOneBtn {
		display: none;
	}
	
	#hogarTwoBtn {
		display: none;
	} 

  #hogar_svg_head {
	  height: 150px;
	  background-position: center;
	  background-image: url(Images/HogarPouchColor.svg);
	  background-size: 100%;
	  border-bottom: 10px solid #F55C22;
  }

  .menu-class {
  	float: left;
  }
  
  .menu-class li:first-child{
  	margin: 15px 0 0;
  }
  
  .menu-class li:nth-child(2) {
  	margin: 15px 0 0;
  }
  
  .menu-class li{
  	padding: 5px 0 0;
  }
  
  .menu-class li:last-child{
  	padding: 10px 0 10px;
  	display: block;
  }

	#slideMenu{
		width: 100%;
		z-index: 5;
	}

	#slideMenu ul{
		width: 100%;
		z-index: 0;
		/*border-top: 5px solid #F55C22;
		border-left: 5px solid #F55C22;
		border-bottom: 5px solid #F55C22;
		border-right: 5px solid #F55C22;*/
		border: none;
		box-shadow: inset 0px -5px #F55C22;
	}

	#slideMenu li{
		display: block;
		width: 50%;
	}

	#slideMenu li:nth-child(even){
		width: 50%;
	}

	#slideMenu li:nth-child(odd){
		width: 50%;
		float: right;
	}

	#slideMenu li:last-child{
		width: 100%;
		display: block;
		float: none;
	}

	#slideMenu a {
		display: block;
	  font-size: 18px;
		font-family: 'Shrikhand', cursive;
	  outline: 0;
		vertical-align: middle;
		line-height: 40px;
		height: 40px;
		width: 70%;
		min-width: 140px;
		border-bottom: 1px dashed #3a3a3a;
		margin: auto;
	}

	#slideMenu li:last-child a{
		border-bottom: none;
	}

	#navMenu {
		display: none;
		position: fixed;
		width: 100%;
		min-width: 220px;
		right: 0px;
		padding: : 0 20px;
	}
/*
	#blurMenuBack {
		display: block;
		width: 100%;
		height: 100vh;
		background-color: rgba(30, 30, 30, 0.8);
	}*/

	#hogarOneSlideMenu {

	}

	#hogarTwoSlideMenu{

	}

	.menuArrow {
		display: block;
		margin-left: 30px;
		margin-right: 20px;
		height: 20px;
		width: 20px;
		text-align: center;
		vertical-align: middle;
		line-height: 20px;
		background-color: white;
		float: right;
		background-image: url(Images/menuLeft.svg);
		border-radius: 100%;
	}

  #hogar {
    font-size: 70px;
  }

  .outer_div {
  }

  .inner_div {
    margin: 0 -8px;
  }
  
  #poruci {
    display: none;
  }
  
  #telefon {
  }
  
  #brojTelefona {
  }

  #pozovi {
    display: inherit;
  }
  
  #call_icon {
    height: 80px;
    border-radius: 100%;
  }
  
  #pushy_container {
  	display: inherit;
  }

  #mapa {
    background-image: none;
    height: 0;
    background-color: white;
  }

	#callIconFixedDiv {
		display: block;
		position: fixed;
		height: 120px;
		width: 50px;
		bottom: -60px;
		left: 10px;
    border-radius: 25px;
    z-index: 2;
	}
	
	#callIconFixed {
		display: block;
		opacity: 1;
		z-index: 3;
		top: 70px;
		position: relative;
		height: 50px;
		width: 50px;
		transition: all 0.3s;
		opacity: 0.88;
	}

	#toTopDiv {
		display: block;
		position: fixed;
		height: 120px;
		width: 50px;
		bottom: -60px;
		right: 10px;
    border-radius: 25px;
    z-index: 2;
	}

	#toTopAnchor {
		display: block;
		opacity: 1;
		z-index: 3;
		top: 70px;
		position: relative;
		height: 50px;
		width: 50px;
		transition: all 0.3s;
	}

  .slideUpButtonsDiv {

  }

  .slideUpButtonsAnchor {

  }

	#pozoviteAnimation {
	  display: none;
	  position: fixed;
	  bottom: 10px;
	  left: 10px;
	  height: 50px;
	  width: 245px;
	  font-size: 20px;
	  background-color: rgba(245, 92, 34, 0.88);
	  border-radius: 25px;
	}

	#pozoviteText {
	  position: relative;
	  font-size: 33px;
		font-family: 'Amatic SC', cursive;
		/*font-weight: bold;*/
		top: 3px;
		vertical-align: middle;
		height: 50px;
		width: 230px;
		text-align: right;
		border-radius: 25px;
	}

	#pozoviteArrow {
		position: relative ;
		top: -4px;
		left: 4px;
		animation: arrowMove 800ms 3;
		animation-delay: 0.2s;
	}

	@keyframes arrowMove {
		0% {left: 4px;}
		50% {left: -1px;}
		100% {left: 4px;}
	}

  #toTopAnchor:hover {
  	background-color: rgba(27, 27, 27, 0.7);
  }

  .orange_map_bottom {
  	width: 100%;
  }
    
}
