* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    color: #f2f2f2;
}

body {
  background-image: url(Images/hotdogs_optimised.jpg);
  background-position: center;
  background-size: 600px;
  background-attachment: fixed;
  text-align: center;
  height: 0;
}

#menu_margin {
    height: 45px;
}

#big_div {
    background: url(Images/dark-wood.jpg);
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 200px 0px #1b1b1b;
    position: relative;
    z-index: -1;
    border-radius: 0 0 20px 20px;
    overflow: auto;
    padding: 0 0 20px;
}

.outer_div {
    margin: 0 0 0px;
    padding: 10px 20px 20px;
}

.inner_div {
    margin: 0 auto;
    padding: 0 20px 20px;
    border-radius: 8px;
    border: 1px solid white;
}

#hogar_svg_head {
    max-width: 100%;
    height: 320px;
    background-size: 100%;
    background-position: bottom;
    border-bottom: 10px solid #F55C22;
    background-image: url(Images/HogarPouchColor.svg);
    background-repeat: no-repeat;
}

h1 {
    
}

#poruci {
    
}

#pozovi {
    display: none;
}

#menu_div {
    width: 700px;
}
    
#menu_btn {
    position: fixed;
    top: 0;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    padding: 8px;
    box-shadow: 0 30px 100px #1b1b1b;
    background-color: #F55C22;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    width: 700px;
    z-index: 2;
}
    
#menu_btn:focus {
    outline: none;
}

hr {
    background-color: aliceblue;
    height: 1px;
    margin: auto;
    width: 45%
}

ul {
    list-style: none;
}

#pushy_container ul li {
    font-family: 'Shadows Into Light Two', cursive;
}

.pushy {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1;
  background-image: none;
  background-size: 400px;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;

  /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
  color: #b3b3b1;
  padding: 10px 30px;
  text-decoration: none;
  outline: 0;
    font-size: 20px;
}

.pushy a:hover {
  color: #FFF;
}

.pushy ul:first-child {
  background-image: url(Images/dark_bgd_opacity_90.png);
  margin: 40px auto 40px;
  width: 700px;
  padding: 10px 0 20px;
  border: 2px solid #b5b5b5;
  border-radius: 0  0 10px 10px;
  box-shadow: 0 0 70px #1b1b1b;
  box-sizing: border-box;
  opacity: 0.98;
    display: 
}

#mainMenu {
    
}

h3:first-child {
    margin-top: 30px;
    font-size: 35px;
}

h3 {
    padding: 30px 0 10px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

h4 {
    padding: 20px 0 10px;
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
    text-shadow: 0 0 50px #1b1b1b;
}

h5 {
    font-size: 25px;
    padding: 5px 0 5px;
    margin: 10px -10px 0;
    border-bottom: 2px dotted white;
    font-family: 'Caveat', cursive;
}

p {
    padding: 0 0 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.tb_padding {
    padding: 10px 0 20px;
}

p:first-child {
    padding: 10px 0 2px;
}

.orange_split {
    border-bottom: 3px dotted #F55C22;
    margin-top: 10px;
}

#map_img {
    margin: auto;
    background-color: white;
    border: 10px solid #F55C22;
    margin: 10px;
    box-sizing: border-box;
}

#hogar {
    font-family: 'Freckle Face', cursive;
    font-size: 100px;
}

#telefon {
    font-family: 'Freckle Face', cursive;
    font-size: 34px;
    border-top: 5px solid #F55C22;
    border-bottom: 5px solid #F55C22;
}

.sastav {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: #b5b5b5;
    letter-spacing: 3px;
}

.cena {
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 0 20px;
}

.border_bottom {
    border-bottom: 2px dotted white;
}

#footer_item {
    display: block;
    visibility: hidden;
    height: 26px;
}

#copy_bottom {
}

#to_top_div {
    background-image: url(Images/TopArrow.png);
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 100%;
    background-color: rgba(27, 27, 27, 0.4);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 20px #1b1b1b;
    transition: 0.5s all;
}

#to_top_div:hover {
    background-color: rgba(27, 27, 27, 0.98);
    box-shadow: 0 0 50px #1b1b1b;
}

footer a {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    margin: auto;
    padding: 70px 50px 20px;
    text-shadow: 0 0 50px;
}

footer p {
    padding: 10px 0;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 15px;
    letter-spacing: 6px;
    color: white;
    text-shadow: 0 0 5px  #1b1b1b;
}

#to_top_anchor {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 5;
}

#mail {
    animation:colorchange 20s infinite alternate;
}

#mail:hover {
    text-decoration: underline overline;
}

@keyframes colorchange {
      0% {
        
        color: #F55C22;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: #F55C22;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: #F55C22;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: #F55C22;
      }
    }




